<div class="twitter box">
  <div class="top"><a href="http://twitter.com/<%= CortexReaver.config.plugins.twitter.username %>">Status</a></div>
  <ul class="text">
    <% tweets = CortexReaver::Plugins::Twitter.recent_tweets %>
    <% tweets.each do |tweet| %>
      <li class="status">
        <%= tweet[:html] %><br />
        <span class="date"><%=h tweet[:created_at].strftime("%b %d %H:%M") %></span>
      </li>
    <% end %>
  </ul>
</div>
