<form id="login" action="<%= CortexReaver::UserController.r(:login) %>" method="post">
  <p>
    <label for="login">Login</label>
    <input type="text" name="login" id="login" />
  </p>
  <p>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" />
  </p>
  <p>
    <input type="submit" name="action" value="Log in" />
  </p>
</form>
