<ol class="photographs grid">
  <% @photographs.all.each do |photograph| %>
    <li id="photograph_<%= photograph.name %>" class="photograph thumb">
      <a href="<%= photograph.url %>">
        <img src="<%= photograph.path(:public, 'grid') %>" alt="<%=h photograph.title %>" />
      </a>
    </li>
  <% end %>
</ol>

<div class="clear" style="height: 4px;"></div>
