<% if @page %>
  <%= page_nav CortexReaver::Photograph, @page %>
<% end %>

<%= CortexReaver::PhotographController.render_view('grid', :photographs => @photographs) %>

<% if @page %>
  <%= page_nav CortexReaver::Photograph, @page %>
<% end %>
