<h2>Administration</h2>

<ul>
  <li><%= a('Configure site', rs(:configuration)) %></li>
  <li><%= a('Regenerate thumbnails', rs(:regenerate_photo_sizes)) %></li>
  <li><%= a('Regenerate rendered body caches', rs(:regenerate_caches)) %></li>
  <li><%= a('Update comment counts', rs(:update_comments)) %></li>
  <li><%= a('Update tags', rs(:update_tags)) %></li>
</ul>
