<h2>Administration</h2>

<ul>
  <li><%= a('Configure site', rs(:configuration)) %></li>
  <li><%= a('Update comment counts', rs(:update_comments)) %></li>
  <li><%= a('Update tags', rs(:update_tags)) %></li>
</ul>
