<div class="pages">
  <h1>All Pages</h1>
  <table>
    <tbody>
      <% @pages.top.order(:name).each do |page| %>
        <%= CortexReaver::MainController.render_view 'pages/row', :page => page %>
      <% end %>
    </tbody>
  </table>
</div>
